<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('shoppinh-list')">Shopping List</a>
      </li>
      <li class="nav-item dropdown ml-auto" ngbDropdown>
        <a class="nav-link dropdown-toggle" href="#" ngbDropdownToggle>
          Manage
        </a>
        <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" appDropdown>
          <li>
            <a class="dropdown-item" href="#">Save Data</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Fetch Data</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
